* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 60px;
  margin-inline: auto;
}

h2{
  color:hsl(218, 44%, 22%);
  padding-top: 15px;
  font-weight: 700px;
}

.qr-block{
  background-color:#ffff;
  max-width: 300px;
  width:100%;
  padding:15px;
  border-radius:10px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
}

.img-fluid{
  max-width: 100%;
  height:auto;
}

.qr{
  border-radius:10px;
}

p{
  color:hsl(212, 45%, 89%);
  max-width: 250px;
  margin-inline: auto;
  padding-top:10px;
}